**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/

slides/node_modules/
slides/package-lock.json
slides/notes.md


# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json